.w3-third img {
    padding: 50px;
    padding-bottom: 20px;
    height: 350px; /* Remplacez 200px par la hauteur que vous souhaitez */
    width: 100%;
    object-fit: cover; /* Cela permet de conserver les proportions de l'image et de la recadrer si nécessaire */
  }
  body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-third img{margin-bottom: -6px; cursor: pointer; width: 100%;}
.w3-third img:hover{opacity: 0.6; transition: 0.3s}
.w3-third {
  padding: 0 10px;
}
.w3-third p{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 0px;
}
.w3-half img {
    height: 450px; /* Remplacez 200px par la hauteur que vous souhaitez */
    width: 100%;
    object-fit: cover; /* Cela permet de conserver les proportions de l'image et de la recadrer si nécessaire */
}
.w3-half {
    padding: 100px;
}

a {
    text-decoration: none;
  }
  .center{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
  }
  
  h1.center{
    padding:0px;
  }
  .lien-bleu{
    text-decoration: underline;
  }
  .lien-bleu:hover  {
    color: blue;
  }